* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 4em;
    font-family: 'Nutino', sans-serif;
}
a {
    color: black;
    text-decoration: none;
    font-size: 2.2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li a {
        gap: 0.7em;
        display: flex;
        padding: 0.4em 0;
        align-items: center;

        &:hover {
            font-weight: bold;
        }
    }
    li a.active {
        font-weight: bold;
    }

    i.icon-dashboard {
        background: url('../assets/') no-repeat;
    }

    li a:hover i.icon-dashboard {
        background: url('../assets/') no-repeat;
    }
}

i {
    width: 2.4rem;
    height: 2.4rem;
    background-position: 50%;
}



